@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --topic-scroll-height: 100vh;
    --chat-scroll-height: 100vh;
    --background: 255 233 200;
    --home-heading: 94 46 46;
    --home-button: 255 204 244;
    --home-button-border: 255 105 222;
    --home-button-text: 255 36 233;
    --home-button-shadow: #ff5bdc58;
    --home-form-shadow: #ffcf8880;
    --home-form-text: 255 149 0;
    --home-form-title: 93 46 46;
    --home-form-field-background: 255 220 200;
    --home-form-field-shadow: #00000010;
    --header-button-center: 255 233 200;
    --header-button-edge: 255 207 134;
    --header-icon: 99 98 101;
    --header-title: 255 149 0;
    --text-link: 12 80 255;
    --radius: 0.5rem;
    --site-header-height: 70px;
    --site-footer-height: 60px;
    --chat-header-height: 3lh;
    --chat-footer-height: 2lh;
    --chat-footer-height: 60px;
    --topic-card: 255 255 255;
    --avatar-count: 0 0 0;
    --progress-background: 242 181 170;
    --progress-fill: 230 109 87;
    --light-text: 121 124 123;
    --chat-background: 243 244 249;
    --chat-bubble-self: var(--background);
    --chat-bubble-they: 255 255 255;
    --error-message: 113 25 47;
  }

  .dark {
    --background: 0 0 0;
    --home-heading: 255 255 255;
    --home-button: 0 0 0;
    --home-button-border: 0 0 0;
    --home-button-text: 255 255 255;
    --home-button-shadow: #ffffff25;
    --home-form-shadow: #cacaca;
    --home-form-title: 255 149 0;
    --home-form-field-background: 37 37 37;
    --header-button-center: 61 57 57;
    --header-button-edge: 22 22 22;
    --topic-card: 37 37 38;
    --avatar-count: 37 37 38;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-size: 16px;
}
#site-header {
  height: var(--site-header-height);
}
#site-footer {
  height: var(--site-footer-height);
}
#scroll-topic-container {
  height: calc(100vh - 100px);
}

.form-field input::placeholder {
  color: rgb(var(--home-form-text) / 30);
}

.header-button {
  background: radial-gradient(
    rgb(var(--header-button-center)),
    rgb(var(--header-button-edge))
  );
  border-color: linear-gradient(#000000, #7e7e7e, #ffffff);
}

#site-footer {
  position: fixed;
  bottom: 0px;
  z-index: 10;
  background-image: url("../public/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#topic-scroll {
  height: calc(var(--topic-scroll-height) - var(--site-header-height));
}

#chat-header {
  height: var(--chat-header-height);
}
#chat-footer {
  height: var(--chat-footer-height);
}
#chat-scroll {
  height: calc(
    var(--chat-scroll-height) - var(--chat-header-height) -
      var(--chat-footer-height)
  );
}

.topic-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

#topic-popularity {
  background-color: rgb(var(--progress-background));
  & > div {
    background-color: rgb(var(--progress-fill));
  }
}

#chat-header-info {
  width: calc(100% - 100px);
  margin-left: 24px;
}

.chat-bubble-self {
  background-color: rgb(var(--chat-bubble-self));
}
.chat-bubble-they {
  background-color: rgb(var(--chat-bubble-they));
}

#login-form-error {
  & path {
    fill: #ef665b !important;
  }
}

#modal-background {
  display: block;
}
