@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 233 200;
    --home-heading: 94 46 46;
    --home-button: 255 204 244;
    --home-button-border: 255 105 222;
    --home-button-text: 255 36 233;
    --home-button-shadow: #ff5bdc58;
    --home-form-shadow: #ffcf8880;
    --home-form-text: 255 149 0;
    --home-form-title: 93 46 46;
    --home-form-field-background: 255 220 200;
    --home-form-field-shadow: #00000010;
    --text-link: 12 80 255;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0 0;
    --home-heading: 255 255 255;
    --home-button: 0 0 0;
    --home-button-border: 0 0 0;
    --home-button-text: 255 255 255;
    --home-button-shadow: #ffffff25;
    --home-form-shadow: #cacaca;
    --home-form-title: 255 149 0;
    --home-form-field-background: 37 37 37;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-size: 16px;
}
#site-header {
  height: 40px;
}
#bottom-navi {
  height: 60px;
}
#scroll-topic-container {
  height: calc(100vh - 100px);
}

.form-field input::placeholder {
  color: rgb(var(--home-form-text) / 30);
}
