.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.topic:hover > .overlay {
  background-color: #000;
  opacity: 0.1;
  z-index: 100;
  display: block;
}

.scroller {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scroller::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
